<%= form_with(model: sequence) do |form| %>
  <% if sequence.errors.any? %>
    <div id="error_explanation">
      <h2>Пожалуйста, исправьте следующие ошибки ввода:</h2>

      <ul>
        <% sequence.errors[:values].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :values, 'Последовательность' %>
    <%= form.text_field :values, style: 'min-width: 300px; width: 30%' %>
  </div>

  <div class="actions">
    <%= form.submit 'Найти' %>
  </div>
<% end %>
