<h1>Последовательности</h1>

<table>
  <thead>
    <tr>
      <th>Последовательность</th>
      <th>Результат</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= sequence.values %></td>
        <td><%= sequence.output %></td>
        <td><%= link_to 'Посмотреть', sequence %></td>
        <td><%= link_to 'Удалить', sequence, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Вычислить подпоследовательности', new_sequence_path %>
