<h1>Результаты вычислений</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Введено: </strong>
  <%= @sequence.values %>
</p>

  <%== @show_result %>
<br>

<%= link_to 'Edit', edit_sequence_path(@sequence) %> |
<%= link_to 'Back', sequences_path %>
